@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Global Tags */

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #6F4E37;
}
.medium {
  margin: 25px 20px;
  font-size: 1.5rem;
  color: rgb(41, 41, 41);
}

span {
  font-size: 0.9rem;
  color: #757373;
}

h6 {
  font-size: 1.1rem;
  color: rgb(24, 24, 49);
}

/* Navigation */
nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 4vw;
  box-shadow: 2px 2px 10px rgba(0, 0,  0.15);
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 999;
  top: 0;
  right: 0;
}
nav img{
  width: 200px;
  cursor: pointer;
}
nav .navigation{
  display: flex;
}
#menu-btn{
  display: none;
  width: 30px;
  height: 30px;
}
#menu-close{
  display: none;
  cursor: pointer;
}
nav .navigation ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav .navigation ul li {
  list-style: none;
  margin-left: 30px;
}
nav .navigation ul li a {
  text-decoration: none;
  color: #6F4E37;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s ease;
}
nav .navigation ul li a:hover {
  color: rgb(41, 41, 41);
}
nav img{
  width: 80px;
  height: 80px;
}
#menu-btn{
  display: none;
  width: 30px;
  height: 30px;
}
#menu-close{
  display: none;
  cursor: pointer;
}
.contactList{
  display: none;
}
.contact{
  padding: 7px 20px;
  background-color: #6F4E37;
  border: none;
  border-radius: 20px;
  color: white;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.contact:hover{
  background-color: rgb(41, 41, 41);
  color: white;
}

#home{
  background-color: rgb(233, 228, 228);
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  padding: 40px 0 0 0px;
  position: relative;
  margin-top: 80px; /* Décale #home sous le nav */
  
}
.texte{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: left;
}
.images{
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 30px;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}
.images img{
  width: 100%;
  height: 60%;
  border-radius: 10px;
  object-fit: cover;
  
}
/* Quand tu survoles .parent, .cible disparaît */
.images:hover .small img{
  transform: scale(1.08);
  transition: transform 0.8s ease-in-out;

}
.small{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: -60px 0 0 0;
}
.images .small img{
  width: 30%;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
  border: 2px solid white;
}
.people{
  width: 100%;
  display: flex;
  align-items: center;
  margin: 20px 0;
  padding: 30px;
}
.people img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid white;
  margin-left: -10px;
}
.people p{
  font-size: 0.9rem;
  color: #6F4E37;
  font-style: italic;
  margin-left: 10px;
}
.people i{
  color: rgb(173, 173, 4);
  font-size: 0.7rem;
  margin-left: 5px;
}
.texte h1{
  font-size: 2.5rem;
  font-weight: 700;
  color: #6F4E37;
  text-align: left;
  margin-left: 20px;
}
.texte p{
  font-size: 0.8rem;
  color: rgb(41, 41, 41);
  margin: 20px 0;
  text-align: left;
  margin-left: 20px;
}
#discover{
  background-color: transparent ;
  border: 1px solid #6F4E37;
  color: #6F4E37;
}
#discover:hover{
  background-color: #6F4E37;
  color: white;
}
marquee{
  color: white;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  margin-top: 0px;
}
.call-to-action{
  position: relative;
  animation: slideIn 3s ease;
}




/* Old Code */




 #newsletter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-image: url("images/dessert-564762_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: fit-content;
    padding: 20px;
  }
  #newsletter h4{
    color: #fff;
    font-size: 22px;
    font-weight: 700;
  }
  #newsletter p{
    color: #888383;
    font-size: 14px;
    font-weight: 300;
  }
  #newsletter p span{
    color:rgb(35, 35, 85);
  }
  #newsletter .form{
    display: flex;
    width: 40%;
  }
  #newsletter input{
    width: 100%;
    padding: 0 1.25em;
    height: 3.125rem;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  #newsletter button{
    background-color: #6F4E37;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 120px;
    border: none;
  }

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 40px;
  }
  footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  footer .logo{
    margin-bottom: 30px;
  }
  footer h4{
    font-size: 13px;
    padding-bottom: 20px;
  }
  footer p{
    font-size: 12px;
    margin: 0 0 8px 0;
  }
  footer  a{
    text-decoration: none;
    color: #222;
    transition: 0.3s ease;
    margin-bottom: 12px;
  }
  footer  a:hover{
    color: rgb(41, 41, 41);
  }
  footer p span{
    color: #6F4E37;
    font-weight: 700;
  }
  footer .follow{
    margin-top: 20px;
  }
  footer .follow i{
    padding-right: 4px;
    color: #6F4E37;
    cursor: pointer;
    transition: 0.5s ease-in-out;
  }
  footer .follow i:hover{
    color: #fff;
    background-color: #6F4E37;
    border-radius: 50%;
    padding: 5px;
  }
  footer .install .row img{
    border: 1px solid #6F4E37;
    border-radius: 6px;
  }
  footer .install img{
    margin: 10px 0 15px 0;
  }
  
  footer .copyright{
    width: 100%;
    text-align: center;
  }

/* Responsive Design */
@media (max-width: 769px) {
  h1{
    font-size: 18px;
  }
  h2{
    font-size: 17px;
  }
  h3{
    font-size: 16px;
  }
  nav{
    padding: 10px 20px ;
  }
  nav img{
    width: 70px;
    height: 70px;
  }
  nav{
    background-color: white;
  }
  
  .contactList{
  display: initial;
  }

  #menu-btn{
    display: initial;
  }
  #menu-close{
    display: initial;
    font-size: 1.6rem;
    color: white;
    padding: 10px 0 10px 20px;
  }
  nav .navigation ul {
    position: absolute;
    top: 0;
    width: 220px;
    right: -220px;
    display: flex;
    background-color: /*rgba(17, 20, 104, 0.45)*/#6F4E37;
    backdrop-filter: blur(4.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: 1s ease;
  }
  nav .navigation.active ul {
  right: 0;
  }
  nav .navigation ul li {
    margin-left:0;
    padding: 20px 0 20px 40px;
  }
  nav .navigation ul li a {
    color: white;
  }
  
  #home{
  background-color: rgb(233, 228, 228);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  padding: 20px 0 20px 0px;
  position: relative;
  margin-top: 80px; /* Décale #home sous le nav */
  
  }
  .people{
  display: none;
  }

  .texte{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  }
  .images{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px 30px;
  align-items: center;
  }
  
  .texte h1{
  font-size: 1.5rem;
  font-weight: 700;
  color: #6F4E37;
  text-align: left;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  }
  .texte p{
  display: none;
  }
  .call-to-action{
  display: initial;
  width: 100%;
  justify-content: center;
  align-items: center;
  }
  marquee{
   font-size: 0.8rem; 
    height: 25px;
    padding: 6px;
  }
  #newsletter .form {
      width: 100%;
  }
  #call{
    display: none;
  }
  .images {
    margin-top: 20px;
  }
    
}
  @media (max-width: 475px) {
  h1,.medium{
    font-size: 18px;
  }
  h2{
    font-size: 16px;
  }
  h3{
    font-size: 15px;
  }
   nav img{
    width: 70px;
    height: 70px;
  }
  .contactList{
  display: initial;
  }
  #call{
    display: none;
  }
  .images {
    margin-top: 20px;
  }
  .texte h1{
  font-size: 1.3rem;
  font-weight: 700;
  color: #6F4E37;
  text-align: left;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  }
  
  }
   #newsletter .form {
      width: 100%;
    }

@media (max-width:375px){
   nav img{
    width: 70px;
    height: 70px;
  }
  .contactList{
  display: initial;
  }

   #newsletter .form {
      width: 100%;
    }
    #call{
    display: none;
  }
  .images {
    margin-top: 20px;
  }
  .texte h1{
  font-size: 1.2rem;
  font-weight: 700;
  color: #6F4E37;
  text-align: left;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  }
}
@keyframes slideIn {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
  